<div class="day-view-container">
  <div class="selected-date-container">
    <div class="todays-date">
      <h2>{{ selectedDate | date: 'fullDate' }}</h2>
      <button mat-button (click)="openDialog(null,0)">Add appointment</button>
    </div>
    <button mat-button (click)="goBack()">Go Back</button>
  </div>
  <div *ngFor="let hour of hours">
    <div
      class="hour"
      (click)="openDialog(null, hour)"
      (keydown.enter)="openDialog(null, hour)"
      tabindex="0"
    >
      <span>{{ hour < 10 ? '0' + hour : hour }}:00</span>
      <div
        class="appointment-info"
        *ngIf="appointmentsByHour[hour]"
        [ngClass]="{'booked': appointmentsByHour[hour]}"
      >
          <div
            class="appointment"
            *ngFor="let appointment of appointmentsByHour[hour]"
            (click)="openDialog(appointment, hour); $event.stopPropagation()"
            (keydown.enter)="openDialog(appointment, hour); $event.stopPropagation()"
            tabindex="0"
          >
            <div class="appointment-title">
              <strong>{{ appointment.title }}</strong>
              <button
                (click)="deleteAppointment(appointment.id); $event.stopPropagation()"
                (keydown.enter)="deleteAppointment(appointment.id); $event.stopPropagation()"
              >Delete</button>
            </div>
            <br>
            <span>{{ appointment.startTime | date: 'shortTime' }} - {{ appointment.endTime | date: 'shortTime' }}</span>
          </div>
      </div>
    </div>
  </div>
</div>
