<div class="calendar-container">
  <mat-toolbar color="primary" class="calendar-toolbar">
    <button mat-button (click)="previousMonth()" style="cursor: pointer;" aria-label="Previous month">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div>{{ currentMonth | date: 'MMMM yyyy' }}</div>
    <button mat-button (click)="nextMonth()" style="cursor: pointer;" aria-label="Next month">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </mat-toolbar>

  <div class="calendar-grid" cdkDropListGroup>
    <div
      class="calendar-day"
      *ngFor="let day of daysInMonth"
      (click)="selectDate(day)"
      (keydown.enter)="selectDate(day)"
      tabindex="0"
      cdkDropList
      [cdkDropListData]="day"
      (cdkDropListDropped)="dropAppointment($event)"
    >
    <div class="calendar-date">
      {{ day.date | date: 'd' }}
    </div>
    <div cdkDrag [cdkDragData]="day">
      <div class="appointments-container">
        <div
          class="appointment-item"
          *ngFor="let appointment of day.appointments"
          cdkDrag
          [cdkDragData]="appointment"
        >
          {{ appointment.title }} ({{ appointment.startTime | date: 'shortTime' }})
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
